<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <title>Oss</title>

    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}" media="screen" type="text/css"/>

    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!--<div id="picInfo">-->
<!--    <br/>-->
<!--    <span id="name"></span><br/>--> 
<!--    <span id="size"></span><br/>-->
<!--    <span id="date"></span>-->
<!--</div>-->
<div class="clearfix">
    <button class="select">&nbsp</button>
    <span><a th:href="@{/oss/sortType=DateAsc}" id="DataAsc">DateAsc</a></span>
    <span><a th:href="@{/oss/sortType=DateDesc}" id="DataDesc">DateDesc</a></span>
    <span><a th:href="@{/oss/sortType=SizeAsc}" id="SizeAsc">SizeAsc</a></span>
    <span><a th:href="@{/oss/sortType=SizeDesc}" id="SizeDesc">SizeDesc</a></span>
    <button class="send" data-counter="0">&#10004;</button>
</div>
<div>
    <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data" onsubmit="return check()">
        <input type="file" name="upload_img" id="upload_img" multiple="multiple" accept="image/png,image/gif,image/jpg,image/jpeg"/>
        <input type="submit" value="上传"/>
    </form>
</div>
<button class="delete" type="button">删除</button>
<!-- place to show-->
<div>
    <ul th:unless="${#strings.isEmpty(list)}">
        <li th:each="key : ${list}">
            <img th:src="${key.url}" th:value="${key.keyName}"/>
        </li>
    </ul>
</div>
<script src="/static/js/index.js" th:src="@{/js/index.js}"></script>
</body>
</html>